@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html {
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}