@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html, body {
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100%;
    margin: 0;
    background-color: hsl(221, 100%, 96%);
}


main {
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    /* background-color: hsl(0, 0%, 100%); */
    background-color: black;
    border-radius: 30px;
    height: 50%;
    width: 40%;

    display: flex;
    flex-direction: row;
    
}

.result {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.summary {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Result Components */
.circle {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 150px;
    width: 150px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


/* Summary Components */
button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 10px 5px;
    margin: 10px 20px;
}

/* Score Containers */
.score-container {
    border-radius: 5px;
    padding: 10px 5px;
    margin: 0 20px;

    display: flex;
    flex-direction: row;
}

.img {
    flex-grow: 1;
}

.label {
    flex-grow: 10;
}

.score {
    color: hsl(0, 0%, 0%);
    flex-grow: 1;
}

.total {
    color: hsl(0, 0%, 28%);
    flex-grow: 1;
}

.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.green {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.blue {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}
