@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary Colors */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --colbolt-blue: hsl(234, 85%, 45%);

    --light-red-background: hsla(0, 100%, 67%, 0.1);
    --orange-yellow-background: hsla(39, 100%, 56%, 0.1);
    --green-teal-background: hsla(166, 100%, 37%, 0.1);
    --colbolt-blue-background: hsla(234, 85%, 45%, 0.1);

    /* Gradients */
    --background-gradient: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --circle-gradient: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grey-blue: hsl(224, 30%, 27%);
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;

    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    box-shadow: 10px 10px 97px -42px rgba(0,0,0,0.55);
    width: 50vw;
    height: 50vh; 
}

main, section {
    border-radius: 35px;
}

section {
    width: 50%;
    height: 100%; 
}

/* Results Components */
.results {
    background: var(--background-gradient);
    text-align: center;
}

.results h1 {
    font-weight: 500;
    color: var(--light-lavender);
}

.circle {
    background: var(--circle-gradient);
    border-radius: 50%;
    height: 200px;
    width: 200px;

    margin: auto;   /* Centers circle */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle h2, p {
    margin: 0;
}

.circle h2 {
    color: var(--white);
    font-size: 70px;
    font-weight: 800;
}

.circle p {
    color: var(--light-lavender);
}

.results h3 {
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0px;
}

.results p {
    color: var(--light-lavender);
    padding: 0 3.3em;
}

/* Summary Components */
.summary {
    background-color: var(--white);
}

.summary-content {
    padding: 0 30px;
}

.summary-content h1 {
    color: var(--dark-grey-blue);
    font-weight: 500;
}

.individual-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    margin: 20px 0;
    padding: 15px 20px;

    font-size: 18px;
    font-weight: 700;
}

img {
    vertical-align: middle;
}

button {
    background-color: var(--dark-grey-blue);
    color: var(--pale-blue);    

    width: 100%;
    padding: 20px 0;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 500;
}

.red {
    background-color: var(--light-red-background);
}

.red p {
    color: var(--light-red);
}

.yellow {
    background-color: var(--orange-yellow-background);
}

.yellow p {
    color: var(--orange-yellow);
}

.green {
    background-color: var(--green-teal-background);
}

.green p {
    color: var(--green-teal);
}

.blue {
    background-color: var(--colbolt-blue-background);
}

.blue p {
    color: var(--colbolt-blue);
}

.score {
    color: #000000;
}

.total {
    color: #808080;
}

@media screen and (max-width: 400px) {
    main {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    section {
        width: 100%;
        height: 50%; 
    }
}